*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page_wrapper
{
    width: 100%;
    height: 100%;
    background-color: #787878;
}

.header_wrapper
{
    width: 100%;
    height: 20vh;
}

.header
{
    margin: 0 auto;
    width: 85vw;
    height: 100%;
}

.logo_wrapper
{
    display: flex;
    position: relative;
    width: fit-content;
    height: 100%;
    background-color: lawngreen;
}
.contacts_wrapper {
    
}